* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #f2f2f2;
	font-family: Arial;
}

.contenedor {
	width: 700px;
	height: 500px;
	background: #212d40;
}

.caja {
	width: 100px;
	height: 100px;
	background:#f79256;
	text-align: center;
	margin: 20px;
	padding: 20px;
	font-size: 40px;
	color: #fff;
}

