/* Version 1 */

ul li { list-style: none; }

ul li ul li{list-style:square;}

/* Version 2 */

ul { list-style: none;  } 

ul li ul {list-style: square;}

/* Version 3 */

.square { list-style: square;}